@use '../../mixins/set-standart-transition' as *;

.bicycles__slide-indicator-element{
  width: 4px;
  height: 4px;
  background-color: #cacaca;
  box-sizing: content-box;
  border-radius: 2px;
  @include set-standart-transition(background-color);
}
