@use '../mixins/set-standart-transition' as *;
@use '../variables/variables' as *;

.page{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Inter', Arial, sans-serif;
  @include set-standart-transition(all);
  background-color: $baseBack;
  color: $baseFontColor;
}
