$baseBack: #f4f4f4;
$baseFontColor: #151515;
$white: #ffffff;
$lightGrey: #e5e5e5;
$nearDark: #222222;
$animationTime: .5s;
$darkThemeBack: #333333;
$animationType: ease-in-out;
$standartRadius: 20px;
