.trainings__img{
  width: 100%;
  height: 100%;
  grid-area: img;
  background-image: url('../images/training.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
