@use '../../mixins/set-font' as *;
@use '../../mixins/set-transition-color-opacity' as *;

.header__link{
  color: $baseFontColor;
  @include set-font(500, 14px, 1.29);
  text-decoration: none;
  @include set-transition-color-opacity();

  &:hover{
    cursor: pointer;
    opacity: .75;
  }
}
